.error-page {
  background-size: 100% 100%;
  background-repeat: no-repeat;

  max-width: 100%;
  position: relative;
  height: 947px;
}
.error-page .page-title {
  font-size: 288px;
  line-height: 317px;
  text-transform: capitalize;
  color: #fafafa;
  box-shadow: 0px 15px rgba(0, 0, 0, 0.15);
  margin-top: 100px;
}
.error-page .page-field{
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #fafafa;
    margin-top: 20px;
}
.small-para{
    font-size: 24px;
    line-height: 38px;
    color: #fafafa;
    margin: 40px 0;
    padding: 0 25%;
}
.error-page a{
    background: #fafafa;
    border: 1px solid #fafafa;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #0e0e0e;
    text-decoration: none;
    padding: 16px 24px;
    transition: all 0.3s;
    display: inline-block;
}
.error-page a:hover{
    background:#FFA41B;
    border-color: #FFA41B;
    color:#fff;
}