@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Jost:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
p,
a {
  font-family: "lato", sans-serif;
}
ul,
li,
a {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
section {
  padding: 40px 0px;
}
p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #323232;
}

body , html {
  overflow-x: hidden;
}


h1 span,
h2 span {
  color: #ffa41b;
}
.explore {
  color: #ffa41b;
}
html{
  scroll-behavior: smooth;
}

section.banner {
  height: 632px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.banner p {
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}
/* header */
header {
  position: fixed;
  background: linear-gradient( 180deg, rgba(0, 0, 0, 0.6) 0%,rgba(0, 0, 0, 0) 100% );
  /* top: 34px; */
  left: 0;
  right: 0;
  width: 100%;
  height: 72px;
  padding-top: 0px;
  z-index: 999;
  -webkit-transition: all ease-out .5s;
  -moz-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  transition: all ease-out .5s;
}

.header.fixed {
  background-color: rgba(34,34,34,1);
}


.navbar-brand {
  color: #fff;
}
.navbar-brand {
  text-decoration: none;
  white-space: nowrap;
}
.navbar-toggler {
  color: rgba(255, 255, 255, 0.55);
  border-color: rgba(255, 255, 255, 0.1);
}
header .navbar-nav .nav-item {
  margin: auto 7px;
}
header .navbar-nav .nav-item.last {
  margin-left: 20px;
  padding: 8px 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #ffa41b;
}
header .navbar-nav .nav-item {
  margin: auto 18px;
}
header .container .row .navbar-collapse {
  display: block;
}
header .row {
  align-items: center;
}
header ul li {
  padding: 0px 24px;
}
header ul li.become-member a {
  padding: 8px 16px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  background: #ffa41b;
}
.navbar-collapse ul li a {
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
li.become-member {
  margin-left: 48px;
}

header button.navbar-toggler {
  display: none;
}
.navbar-toggler-icon {
  color: #fff;
  font-size: 28px;
  height: 20px;
}
.navbar-toggler {
  border: 0px;
}
button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

.display-block {
display: block;
}

.mobile-block {
  display: none;
}

footer.section-footer .copyright svg {
  height: 24px;
  width: 24px;
  padding: 0 4px;
}

footer.section-footer svg path {
  fill : #fff;
  transition: 0.45s all ease;
}

footer.section-footer svg:hover path {
  fill: #ffa41b;
  transition: 0.45s all ease;

}

.banner h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
  margin-bottom: 24px;
}

section h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}
section h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.heading-business h4 {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
}


.yellow-title {
  color: #ffa41b;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
}





























/* footer */

.footer-dark {
  color: #fff;
}
.footer-dark .icon {
  color: #fff !important;
  opacity: 0.7;
}
.footer-dark .title {
  color: #fff;
}
.footer-dark .list-menu a {
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 12px;
}
.footer-dark .list-menu a:hover {
  color: #fff;
}

.footer-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-footer {
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  background-size: cover;
  padding-top: 40px;
}
.follow {
  color: #fff;
}
.footer-dark {
  color: #fff;
}
.auretics {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 26px;
  color: #ffa41b;
}
.grivence {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  padding-bottom: 48px;
  text-align: center;
  color: #ffffff;
}
p:last-child {
  margin-bottom: 0;
}
.limited {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}
.copyright {
  padding-bottom: 30px;
  padding-top: 32px;
}
.section-footer article p {
  color: #fff !important;
}
article strong {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  display: block;
  margin-bottom: -12px;
}
.footer-dark .title {
  color: #fff;
}
.section-footer .title {
  margin-bottom: 10px;
}
aside .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}
.title {
  padding-top: 8px;
}
.list-menu li > a {
  display: block;
  color: #51585e;
  text-decoration: none;
}
footer.section-footer .footer-logo {
    width: 120px;
}

.banner h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
  margin-bottom: 24px;
}

section h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}
section h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.heading-business h4 {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
}


.yellow-title {
  color: #ffa41b;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
}
.no-gutter>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* form */

.form-home ul li {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 54px;
}
.form-home ul li p {
  color: #fff;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.form-home ul li p a{
  color: #fff;
}
.form-home ul li svg {
  margin-right: 24px;
}
.form-detail-wrap h5 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  margin: 0px;
  line-height: 24px;
  font-size: 20px;

  text-transform: capitalize;

  color: #ffffff;
}
.form-home {
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
}
.contact-form {
  padding-top: 40px;
}
.contact-form span {
  display: block;
  margin-bottom: 25px;
}
.contact-form input {
  background: rgba(250, 250, 250, 0.05);
  border: 0.5px solid #ffffff;
  border-radius: 5px;
  width: 100%;
  padding: 16px 20px;
  line-height: 18px;
  margin-bottom: 30px;
}
.contact-form textarea {
  width: 100%;
  padding: 16px 16px 40px 24px;
  background: rgba(250, 250, 250, 0.05);
  border: 0.5px solid #ffffff;
  color: #fff;
}
.contact-form .form-button{
  background: #ffa41b;
  border-radius: 4px;
  width: 100%;
  padding: 16px 16px;
  border: none;
  margin-top: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color:#fff;
}
.contact-form button svg {
  margin-left: 10px;
}

.form-control:focus {
  background-color: transparent;
}

.contact-form input.form-control {
  color: #fff;
}

.contact-form input.contact-submit {
  background: #ffa41b;
  border-radius: 4px;
  width: 100%;
  padding: 16px 16px;
  border: none;
  margin-top: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #000;
}


.profile .profile-image img:hover{
  transform: scale(1.1);
}

.profile .join-today {
  width: 100%;
  height: 500px;
  padding: 85px 25px 80px 100px;
}

.profile .profile-image .d-none {
  display: block !important;
}

.profile .profile-image .m-block {
  display: none;
}

.profile .join-today a {
  background-color: #ffa41b;
  padding: 8px 16px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}


.profile .row{
  background-color: #FFF8F0;
  /* margin-bottom: 50px; */
  padding-bottom: 0px;
}

.profile .profile-image {
  overflow: hidden;
}

 .profile-image img{
  width: 100%;
  transition: transform .2s;
}
.testimonial-box .img p br {
  display: none;
}

.blog-inner:hover .mutual-calendar{
  opacity:0!important;
  visibility: hidden;
  /* padding-top:10px; */
}
.blog-wrapper:hover{
  transform: translateY(-15px);
  height: 140px!important;

}