.faq h2 {
  color: #292929;
  border-bottom: 4px solid #fdb414;
  width: 35%;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-bottom: 12px;
}
.accordion-button {
  color: #292929 !important;
  font-size: 16px;
  line-height: 20px;
  font-family: barlow, sans-serif;
  font-weight: 600;
  background-color: #f9f9f9 !important;
  padding: 0.25rem 1.25rem;
}
.accordion-button::after {
  width: 40px;
  height: 40px;
  background-image: url(../images/add.webp);
  background-size: 50%;
  background-position: center;
}
.accordion-body {
  font-weight: 400 !important;
  font-family: "Lato";
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  color: #3c3c3c;
}

.accordion-item .accordion-button {
  background-color: transparent !important;
}
.active-faq {
  background-color: #ffa41b;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}
.accordion-header button {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #3c3c3c;
}
.accordion-button:not(.collapsed)::after{
  width: 40px;
  height: 40px;
  background-image: url(../images/minus.svg);
  background-size: 50%;
  background-position: center;
}
