.home-business a {
  border: 1px solid #ffffff;
  padding: 8px 16px;
  color: #fff;
}
.home-business a:hover {
  background-color: #ffa41b;
  color: #fff;
}
.home-business p {
  padding-bottom: 48px;
}
.banner-logo img {
  width: 292px;
}
.banner .row .col-md-8 {
  display: flex;
  align-items: center;
}
.heading-business h1 {
  line-height: 72px;
}
.orange-color {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #ffa41b;
  font-family: "Poppins";
}
.growth-heading {
  text-align: center;
}
.business-benefit img {
  border-radius: 0px 0px 0px 50px;
}
.boss-content h3 {
  font-size: 28px;
  line-height: 40px;
  text-transform: capitalize;
  color: #ffa41b;
  padding-bottom: 12px;
}
.boss-content {
  padding: 72px 20px;
  height: 300px;
}
.boss img {
  width: 100%;
}

.background-color {
  background: #fff8f0;
  border-radius: 0px 50px 0px 50px;
  margin-bottom: 16px;
}
.marque-slider ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;

  color: #000839;
}
.marquee-line {
  padding-bottom: 0px;
}
.marquee-line .slick-slide {
  width: 400px !important;
}

.background-color:nth-child(3) {
  flex-direction: row-reverse;
  border-bottom-left-radius: 50px;
}

.background-color:nth-child(5) {
  border-bottom-left-radius: 50px;
}

.back-second-color {
  border-radius: 0px 0px 0px 50px;
}
.boss-work {
  border-radius: 0px 0px 0px 50px;
}
.auretics-limited {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.fastest {
  background-color: #fff;
  border-radius: 50px 50px 0px 0px;
  padding: 20px 40px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  justify-content: center;
  position: absolute;
  z-index: 9;
  bottom: 0;
  border-top: 20px solid #ffa41c;
}
.limited-wrapper {
  position: relative;
}
.fastest img {
  padding-right: 35px;
}
.fast-content h3 {
  font-size: 24px;
  line-height: 32px;
  color: #000839;
}
.experts {
  padding-top: 24px;
}
.Team-experts h5 {
  color: #000839;

  padding-top: 16px;
}
.product-categories .slick-list {
  margin: 0px -20px;
}
.product-categories .slick-slide {
  padding: 0px 20px;
}
.discover-category {
  margin-bottom: 20px;
}
.discover-category-range h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #ffa41b;
  padding-top: 16px;
}
.discover-category-range a {
  font-size: 16px;
  line-height: 26px;
  color: #ffa41b;
  border: 1px solid #ffa41b;
  padding: 8px 16px;
}
.discover-category-range p {
  height: 58px;
}

.discover-category h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #ffa41b;
  padding-top: 16px;
}
.discover-category a {
  font-size: 16px;
  line-height: 26px;
  color: #ffa41b;
  border: 1px solid #ffa41b;
  padding: 8px 16px;
  transition: all 0.3s;
}
.discover-category a:hover {
  background-color: #ffa41b;
  color: #fff;
}
.discover-category p {
  padding-bottom: 24px;
  font-size: 18px;
}
.discover-category-range {
  margin-bottom: 30px;
}
.products {
  background: #fff8f0;
}
.product-border {
  border: 0.2px solid #ffa41b;
}
.rating-icons {
  color: #ffa41b;
  padding-bottom: 8px;
}
.products-data span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #252525;
  padding: 8px 0px;
}
.products-data p {
  padding: 8px 0px;
}
.right-fast-content a {
  font-size: 16px;
  line-height: 26px;
  color: #ffa41b;
  border: 1px solid #ffa41b;
  padding: 8px 16px;
}
.right-fast-content a:hover {
  background-color: #ffa41b;
  color: #fff;
}
.right-fast-content {
  padding: 24px 54px;
  position: relative;
}
.right-fast-content h2::after {
  content: "";
  background: #ffa41b;
  transform: rotate(-180deg);
  width: 84px;
  height: 6px;
  position: absolute;
  top: 40px;
  right: 18%;
}
.img h3 span {
  color: #ffa41b;
  font-size: 20px;
}

.Rewards p {
  padding-bottom: 6px;
}
.testimonial-one {
  background: #ffffff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.12);
  padding: 12px 16px;
  margin: 20px 0px;
  min-height: 355px;
}
.testimonial .slick-initialized .slick-slide {
  margin: 0px 20px;
}
.products .slick-initialized .slick-slide {
  margin: 0px 20px;
}

.testimonial-one .author p span:last-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #4a4a4a;
}
.testimonial-one .author p span:first-child {
  padding-bottom: 12px;
}

.testimonial-one p span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #3c3c3c;
  display: block;
}

.testimonial h3 {
  padding: 10px 0px 12px;
}
.testimonial .img p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #4a4a4a;
}
p.join-para {
  min-height: 110px;
}
.testimonial-one .author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products button.slide-arrow.prev-arrow.slick-arrow {
  position: absolute;
  right: 6%;
  top: -24%;
  border: navajowhite;
  background: none;
  color: #ffa41b;
  font-size: 24px;
}
.products button.slide-arrow.next-arrow.slick-arrow {
  position: absolute;
  top: -24%;
  right: 32px;
  border: navajowhite;
  background: none;
  color: #ffa41b;
  font-size: 24px;
}
.products {
  position: relative;
}
.home-testimonial-slider button.slide-arrow.prev-arrow.slick-arrow {
  position: absolute;
  right: 6%;
  top: -38%;
  border: navajowhite;
  background: none;
  color: #ffa41b;
  font-size: 24px;
}
.home-testimonial-slider button.slide-arrow.next-arrow.slick-arrow {
  position: absolute;
  top: -38%;
  right: 32px;
  border: navajowhite;
  background: none;
  color: #ffa41b;
  font-size: 24px;
}
.testimonial {
  position: relative;
}
.stories {
  margin-top: 40px;
}
.stories p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 16px 0px 0px 0px;
}
.capitative {
  background: #fff8f0;
}
.explore-button a {
  background: #ffa41b;
  color: #fff;
  padding: 8px 16px;
}
.explore-button {
  margin-bottom: 24px;
}
.certificate-image:hover {
  background: #ffffff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.12);
  transition: 0.2s ease-in;
  border: 1px solid #000;
  cursor: pointer;
}
.certificate-image {
  transition: 0.2s ease-in;
}
.capitative .image-box:hover {
  border-radius: 15px;
}
.capitative .image-box > a {
  display: block;
  overflow: hidden;
  border-radius: 15px;
}
/* join */
/* .profile {
  background-color: #fff8f0;
  margin-bottom: 50px;
  padding-bottom: 0px;
} */
.join-today {
  width: 100%;
  height: 500px;
  padding: 40px 40px;
}
.join-today p {
  font-size: 24px;
  line-height: 40px;
  padding-top: 24px;
  margin-bottom: 40px;
  min-height: 110px;
}
.join-today a {
  background-color: #ffa41b;
  padding: 8px 16px;
  color: #fff;
}
/* .profile-image img {
  margin-top: -70px;
  width: 100%;
  transition: transform 0.2s;
}
.profile-image img:hover {
  transform: scale(1.1);
}
.home-profile img {
  margin-top: 0px;
}
.profile {
  margin-top: 40px;
} */
/*  */
.everywhere h2::before {
  content: "";
  background: #ffa41b;
  transform: rotate(-180deg);
  width: 84px;
  height: 6px;
  position: absolute;
  top: 35px;
  left: 0px;
}
.everywhere {
  position: relative;
}
.everywhere h2 {
  padding-left: 100px;
}

/*  */
.image-box img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}
.image-box {
  overflow: hidden;
}
.image-box:hover img {
  transform: scale(1.1);
  opacity: 1;
}
.eight-things {
  height: 960px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.eight-things-wrapper {
  text-align: center;
}
.white-wrap {
  color: #fff;
}
.ct-list-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 8px;
}
.ct-list-content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: start;

  color: #ffffff;
}
.ct-list-number {
  background: #ff6000;
  box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.15);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: #fff;
}
.ct-image-box {
  position: relative;
  margin-top: -114px;
}
.boss img {
  height: 100%;
  object-fit: cover;
}
.list-side {
  flex-direction: row;
}
#number1 {
  position: absolute;
  top: 23%;
  left: 21%;
}
#number2 {
  position: absolute;
  top: 39%;
  left: 9%;
}
#number3 {
  position: absolute;
  top: 60%;
  left: 3%;
}
#number4 {
  position: absolute;
  bottom: 17%;
  left: 18%;
}
#number5 {
  position: absolute;
  top: 23%;
  right: 23%;
  flex-direction: row;
}
#number6 {
  position: absolute;
  top: 39%;
  right: 9%;
  flex-direction: row;
}
#number7 {
  position: absolute;
  top: 60%;
  right: 10%;
  flex-direction: row;
}
#number8 {
  position: absolute;
  bottom: 17%;
  right: 25%;
  flex-direction: row;
}
.mobile-content {
  display: none;
}
.img-fluid {
  width: 100%;
}
.boss img {
  border-radius: 0px 0px 0px 50px;
}
.marquee-line ul li button {
  display: none;
}
.mob-thing-img {
  display: none;
}

/*  */
.banner video {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  object-fit: cover;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
}
.banner {
  position: relative;
}
.banner-video-text {
  z-index: 999;
}
.blank_div {
  width: 100%;
  height: 100%;
  background:rgba(0,0,0 , 0.6);
  position: absolute;
  z-index:9;
}
