@media (max-width: 1199px) {
  .faq h2 {
    width: 52%;
  }
  h1 {
    font-size: 34px;
    line-height: 58px;
  }
  .blogs .blog-wrapper {
    width: 85%;
  }
  .procedure h2.pt-5 {
    font-size: 26px;
    line-height: 34px;
  }
  .navbar-collapse ul li a {
    font-size: 14px;
  }
  header ul li {
    padding: 0px 14px;
  }
  .profile .join-today p {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 16px;
    padding-top: 16px;
  }
  .profile h2 {
    font-size: 22px;
    line-height: 40px;
  }
  .join-today {
    height: 397px;
  }
  p.join-para {
    min-height: 176px;
  }
  .opportunity .text-center p br {
    display: none;
  }
  .compensation ul li {
    font-size: 14px;
  }
  .sucessful .container .row .col-md-6:nth-of-type(1) {
    transform: translateX(-17%);
  }
  .sucessful .container .row .col-md-6:nth-of-type(2) {
    transform: translateX(-31%);
  }
  .sucessful .container .row .col-md-6:nth-of-type(3) {
    transform: translateX(15%);
  }
  .sucessful .container .row .col-md-6:nth-of-type(4) {
    transform: translateX(0%);
  }
  .opportunity-option p br {
    display: none;
  }
  .double-box .four-data-box h3 {
    font-size: 16px;
  }
  .auretics-excellence .tab-content ul li {
    line-height: 22px;
  }
  .spreading p {
    padding-top: 0px;
    font-size: 16px;
  }
  .Who-we-are h2 {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .assurance-list {
    height: 154px;
  }
  .limited-image img {
    width: 80%;
  }
  .limited-image {
    text-align: center;
  }
  .about-company-profile {
    margin: 50px;
    padding: 0px 45px;
  }
  .auretics-list-items {
    padding-top: 0px;
  }
  .financial-freedom h2 {
    font-size: 22px;
  }
  .para-fundamental p {
    font-size: 16px;
  }
  .boost-one {
    margin-bottom: 0px;
  }
  .boost-one h5 {
    font-size: 20px;
  }
  .arjun-views {
    width: 100%;
  }
  .on-mobile {
    display: block;
  }
  .on-desktop {
    display: none;
  }
  .organize-img {
    padding-right: 20px;
  }
  .stories p {
    font-size: 12px;
    line-height: 20px;
  }
  .everywhere h2 {
    font-size: 25px;
  }
  .boss-content h3 {
    font-size: 20px;
    line-height: 26px;
  }
  .boss-content p br {
    display: none;
  }
  .desktop-content .ct-list-item {
    display: none;
  }
  .Empower-people .row .col-lg-7 .tab-content .tab-pane img:last-child {
    display: block;
    width: 100%;
  }
  .Empower-people .row .col-lg-7 .tab-content .tab-pane img:first-child {
    display: none;
  }
  section.opportunity-option {
    background-size: 100% 375vh;
    background-repeat: no-repeat;
  }
  .ct-image-box .ct-list-item {
    display: none;
  }
  .mobile-content .ct-list-item {
    flex-direction: unset;
  }
  .desktop-content{
    display: none;
  }
  .mobile-content {
    display: block;
  }
  .mob-thing-img{
    display: block;
  }
  .eight-things .row:nth-child(2){
    position: relative;
  }
  .mob-thing-img img{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;

  }
  .ct-list-item {
    padding-bottom: 15px;
  }
  .mobile-content {
    display: block;
    padding-top: 200px;
  }
  .discover-category p {
    font-size: 14px;
  }
  .img h3 span{
    font-size: 18px;
  }
  .discover-category-range p {
    height: 90px;
}
.right-fast-content h2::after{
  right:44%;
}
.compensation{
  height: 315px;
}
.Auretics-apna{
  display: none;
}
.mob-apna-business{
  display: block;
}
.Auretics-apna .row:nth-child(even)::before
{
  background-color: none;
}
.eight-things{
  height: 700px;
}
  
}

@media (max-width: 991px) {
  .faq h2 {
    width: 70%;
  }
  .blogs .blog-wrapper {
    width: 285px;
  }
  .procedure h2.pt-5 {
    font-size: 20px;
    line-height: 34px;
  }
  header .navbar-brand img {
    height: 60px;
  }
  header #navbarSupportedContent {
    position: absolute;
    left: -110vw;
    top: 0px;
    width: 100%;
    height: unset;
    display: block;
    background-size: cover;
    z-index: 1;
    padding: 0px 0px;
    transition: all 0.45s;
    border-radius: 0px;
  }
  .nav-menu {
    background: #ffa41b;
  }
  .nav-menu li {
    padding: 20px;
  }
  li.become-member {
    margin-left: 0px;
    margin-top: 20px;
  }
  header ul li.become-member a {
    border: 1px solid #fff;
  }
  #close-btn {
    display: none;
  }
  .nav-menu {
    padding-top: 24%;
    height: 1200px;
  }
  .navbar-collapse ul li a {
    font-size: 40px;
  }
  header ul li.become-member a {
    font-size: 30px;
  }
  #close-btn .navbar-toggler-icon svg {
    color: #000;
    background: #fff;
    border-radius: 50%;
    padding: 6px 10px;
  }

  header button.navbar-toggler {
    display: block;
  }
  header .row .nav-menu {
    display: block !important;
  }
  header .row .nav-menu li {
    text-align: center;
  }
  #close-btn .navbar-toggler-icon svg {
    padding: 8px 14px;
    font-size: 50px;
  }
  .navbar-brand {
    display: block;
    text-align: center;
    width: 100%;
  }
  .join-today p {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 17px;
  }
  .testimonial-one {
    min-height: 100%;
  }

  .profile h2 {
    font-size: 20px;
    line-height: 27px;
  }
  .join-today {
    height: 301px;
  }
  .compensation .all-compensation h2 {
    font-size: 24px;
  }
  .sucessful button {
    font-size: 14px;
  }
  .four-data-box {
    padding: 50px 20px 13px 20px;
    height: 250px;
  }
  .heading-auretics-list h3 {
    font-size: 100px;
  }
  .financial-freedom h2 {
    font-size: 22px;
  }
  .assurance-list p {
    font-size: 14px;
  }
  .mission-all nav {
    height: 100%;
  }
  .auretics-excellence ul li {
    font-size: 14px;
  }
  .auretics-excellence h5 {
    font-size: 16px;
  }
  .mission-all .nav-link {
    padding: 0px;
  }
  .finger-block img {
    height: 400px;
    object-fit: cover;
  }
  .Who-we-are h2 {
    padding-top: 0px;
  }
  .boost-one h5,
  p {
    font-size: 16px;
  }
  .assurance-list {
    margin-bottom: 16px;
  }
  .arjun-img {
    text-align: center;
  }
  .arjun-views {
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  .officer-team p::before {
    top: 42px;
  }
  .team-padding {
    padding-top: 30px;
  }
  .organize-img {
    padding-right: 20px;
  }
  .ct-list-item {
    padding-bottom: 38px;
  }
  .ct-list-content {
    font-size: 14px;
    line-height: 22px;
    width: 88%;
  }
  .ct-list-number {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  /* product-slider */
  .products ul li button {
    text-indent: -9999px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: none;
    background: #ffa41b;
    border: 2px solid #ffa41b;
    margin-top:20px;
}
.products ul li:not(:last-child) {
  margin-right: 10px;
}
.products .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.products ul li.slick-active button{
  background: #fff;
  border:2px solid #ffa41b;
}
/* testimonial-slider */
.testimonial ul li button{
  text-indent: -9999px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: none;
  background: #ffa41b;
  border: 2px solid #ffa41b;
  margin-top:20px;

}
.testimonial ul li:not(:last-child) {
  margin-right: 10px;
}
.testimonial .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial ul li.slick-active button{
  background: #fff;
  border:2px solid #ffa41b;
}
.heading-business h1 {
  line-height: 60px;
  font-size: 32px;
}
.boss-content h3 br{
  display: none;
}
.boss-content{
  height: 350px;
}
.orange-blank-bg{
  width: 100%;
}
.discover-category h6{
  height: 70px;
}
.discover-category p{
  height: 160px;
}
.right-fast-content h2::after {
  right: 24%;
}
.compensation {
  height: 354px;
}
.Auretics-apna{
  display: none;
}
.mob-apna-business{
  display: block;
}
}
@media (max-width: 767px) {
  .blogs .blog-wrapper {
    height: auto;
    width: 310px;
  }
  blogs .blog-wrapper {
    width: 300px;
    margin-left: 18px;
  }
  .faq h2 {
    width: 70%;
  }
  .blog-inner {
    padding: 12px;
    transition: 0.4s ease-in all;
  }
  .blogs .blog-wrapper p.blog-content {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .blogs .blog-wrapper p.read-more {
    margin-bottom: 0;
  }
  header button.navbar-toggler {
    display: block;
  }
  header .row .collapse:not(.show) {
    display: none;
  }
  header {
    background: rgba(0, 0, 0, 0.4);
  }

  .testimonial-box .img p {
    min-height: 100%;
  }

  .testimonial-box .img p br {
    display: none;
  }

  .testimonial-box .testimonial-one .author p span:last-child {
    font-size: 12px;
  }

  .testimonial-box .img .author span:first-child {
    font-size: 14px;
    line-height: 22px;
  }

  .testimonial-box h3 span {
    font-size: 16px;
    line-height: 24px;
  }

  .testimonial-box .img .author span {
    padding: 2px 0;
  }

  .profile .row {
    margin: 0px;
  }

  section.profile {
    padding: 0;
  }
  section.profile .container-fluid {
    padding: 0;
  }

  section.profile .container-fluid .row .col-md-7 {
    padding: 0;
  }

  .testimonial-one .img img {
    height: 37px;
  }

  .profile .profile-image .d-none {
    display: none !important;
  }

  .profile .profile-image .m-block {
    display: block !important;
  }
  .heading-auretics-list h3 {
    font-size: 48px;
  }
  .about-company-profile {
    padding: 0px;
    margin: 0px;
  }
  .about-company-profile h2 {
    padding-bottom: 16px;
  }
  .auretics-list-items {
    padding-top: 0px;
  }
  .limited-image img {
    width: 100%;
  }
  .about-company-profile {
    padding-top: 24px;
  }
  .heading-auretics-list h3 {
    line-height: 56px;
  }
  .spreading p {
    font-size: 16px;
  }
  .auretics-excellence ul li {
    font-size: 14px;
  }
  .auretics-excellence {
    padding: 50px 0px;
  }
  .finger-block {
    padding-top: 42px;
    padding-bottom: 16px;
  }
  .Empower-people {
    padding-top: 0px;
  }
  .Who-we-are .col-md-8 {
    order: 2;
  }
  .Who-we-are .col-md-4 {
    order: 1;
  }
  .boost-one {
    background: linear-gradient(
      90deg,
      rgba(255, 164, 27, 0.8) 0%,
      rgba(255, 96, 0, 0.5) 97.84%
    );
    border: #ffa41b;
  }
  section.Who-we-are {
    padding-top: 0px;
  }
  #empower-row {
    flex-direction: column-reverse;
  }
  .border-none.pb-3 {
    font-size: 14px;
  }
  .team-para p {
    text-align: center;
    font-size: 12px;
  }
  .focus-team {
    text-align: center;
  }
  .arjun-views {
    width: 100%;
  }
  .officer-team p::before {
    top: 35px;
  }
  .officer-team .explore {
    padding-top: 24px;
  }
  .officer-team h3 {
    font-size: 24px;
    line-height: 0px;
    padding: 16px 0px;
  }
  .arjun-font p {
    font-size: 12px;
  }
  .social-team {
    padding-top: 16px;
  }
  .qualifications h4 {
    padding-bottom: 0px;
  }
  .qualifications ul li span {
    font-size: 24px;
  }
  .qualifications ul li {
    font-size: 12px;
    line-height: 20px;
  }
  section.execuitive-officer {
    padding-top: 0px;
  }
  .management-team p {
    font-size: 12px;
  }
  .management-team p br {
    display: none;
  }
  .management-team {
    text-align: center;
  }
  .on-mobile {
    display: block;
  }
  .on-desktop {
    display: none;
  }
  .Empower-people .row {
    margin: 0;
  }
  .boss-content h3 {
    font-size: 16px;
    line-height: 29px;
  }
  .boss-content p br {
    display: none;
  }
  .growth .row:nth-child(3) {
    flex-direction: column-reverse;
  }
  .discover-category {
    margin-bottom: 30px;
  }
  .everywhere h2 {
    font-size: 18px;
  }
  .img-time p {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: capitalize;
    color: #ffa41b;
  }
  .img-time h6 {
    padding-top: 12px;
    font-size: 12px;
  }
  .compensation .content-box {
    padding-left: 30px;
  }
  .compensation {
    height: 520px;
  }
  .blogs .blog-wrapper p.blog-content {
    font-size: 20px;
    line-height: 28px;
  }
  .Empower-people .row #empower-row {
    flex-direction: column-reverse;
  }
  /* 
  #number-one,
  #number-two,
  #number-three,
  #number-four,
  #number-five,
  #number-six,
  #number-seven,
  #number-eight {
    position: unset;
  } */
  .ct-list-item {
    flex-direction: row;
    padding-bottom: 16px;
  }
  .ct-image-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    padding: 0px 10px;
  }
  .ct-list-number {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .ct-list-content {
    font-size: 14px;
  }
  .mobile-content {
    margin-left: 12px;


  }

  /* second-section */
  .back-one-color{
    border-radius: 0px 0px 0px 50px;
  }
  .boss-content {
    padding: 32px 20px;
    height: 280px;
  }
  .discover-category {
    text-align: center;
  }
  .growth .container{
    padding: 0px 20px;
  }
  .discover-category-range p {
    padding-bottom: 10px;
  }
  .range-3 p br {
    display: none;
  }
  section.banner {
    height: 400px;
  }
  .banner h1 {
    font-size: 20px;
    line-height: 32px;
    padding-top: 50px;
    margin-bottom: 12px;
  }
  .banner-logo {
    margin-top: 100px;
  }
  .home-business p {
    padding-bottom: 12px;
  }
  .banner-logo img {
    width: 76px;
  }
  /* third */
  .right-fast-content{
      padding: 140px 0px;
  }
  .fastest{
    bottom: -112px;
    display: block !important;
    text-align: center;
  }

  .fastest img {
    padding: 0 ;
  }

  .orange-blank-bg {
    width: 100%;
    left: 0px;
}
.fast-content h3 {
  font-size: 16px;
  line-height: 25px;
}
.fast-content p{
  font-size: 12px;
}
.fast-content p br{
  display: none;
}
.right-fast-content h2::after{
  top:150px;
  right: 16%;
}
.discover-category p{
  height: 0px;
  padding-bottom: 60px;
}
.discover-category-range p {
  height: 75px;
}
.discover-category h6 {
  height: 40px;
}
.mobile-content{
  padding-top:100px;
}
.mob-thing-img img {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

}

@media (max-width: 575px) {
  .done {
    width: 100%;
  }
  .banner p {
    font-size: 16px;
    line-height: 24px;
  }
  .banner p br {
    display: none;
  }
  section h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .faq h2 {
    width: 88%;
  }
  .accordion-header button {
    font-size: 14px;
  }
  .navbar-collapse ul li a {
    font-size: 16px;
  }
  header ul li.become-member a {
    font-size: 16px;
  }
  header .row .nav-menu li {
    text-align: start;
  }
  #close-btn .navbar-toggler-icon svg {
    padding: 8px 12px;
    font-size: 25px;
  }
  .blogs .blog-wrapper {
    height: auto;
    width: 86%;
  }
  .testimonial-slider button.prev-arrow {
    left: -7px;
    top: 45%;
    z-index: 99;
  }
  .testimonial-slider button.next-arrow {
    right: -7px;
    top: 45%;
    z-index: 99;
  }
  .sucessful .container .row .col-md-6:nth-of-type(1) {
    transform: translateX(0%);
  }
  .sucessful .container .row .col-md-6:nth-of-type(2) {
    transform: translateX(0%);
  }
  .sucessful .container .row .col-md-6:nth-of-type(3) {
    transform: translateX(0%);
  }
  .sucessful .container .row .col-md-6:nth-of-type(4) {
    transform: translateX(0%);
  }
  .double-box {
    margin-top: 12px;
  }
  .profile .join-today {
    padding: 16px 16px 40px 16px;
    height: 100%;
  }
  .join-today {
    padding: 0px 40px;
  }

  .display-block {
    display: none;
  }

  .mobile-block {
    display: block;
  }

  footer .copyright.footer-main {
    padding-top: 0;
    padding-bottom: 0;
  }

  footer .copyright.footer-main .mobile-block.mobile-margin {
    margin-top: 24px;
  }

  footer .footer-main .mobile-block {
    padding-bottom: 24px;
  }

  .section-footer .title {
    font-size: 14px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #f8ae21;
  }

  section.growth .background-color:nth-child(3) {
    flex-direction: column;
    border-bottom-left-radius: 50px;
  }
  
  

}
