.testimonial-one {
  background: #ffffff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.12);
  padding: 12px 16px;
  margin: 20px 0px;
}

.testimonial-one p span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #3c3c3c;
  display: block;
}

.testimonial-one .author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #3c3c3c;
}

.testimonial-box .testimonial-one .author p span:last-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #4a4a4a;
}

.testimonial-box .img p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #4a4a4a;
}

.testimonial-box h3 span {
  font-size: 20px;
  line-height: 32px;
  color: #ffa41b;
}

.testimonial-box h3 {
  padding: 10px 0px 12px;
}

.profile .join-today p {
  font-size: 24px;
  line-height: 40px;
  padding-top: 24px;
  margin-bottom: 40px;
  min-height: 110px;
}

.profile {
  padding: 0;
}

.profile .join-today {
  padding: 85px 16px 85px 100px;
  height: 100%;
}

.profile .row{
  background-color: #FFF8F0;
  /* margin-bottom: 50px; */
  padding-bottom: 0px;
}

.profile .profile-image {
  overflow: hidden;
}

 .profile-image img{
  width: 100%;
  transition: transform .2s;
}
.testimonial-box .img p br {
  display: none;
}
.testimonial-box .testimonial-one .author p span:first-child {
  padding-bottom: 12px;
}
.profile .profile-image img:hover{
  transform: scale(1.1);
}

.profile .join-today {
  width: 100%;
  height: 500px;
  padding: 85px 25px 80px 100px;
}

.profile .profile-image .d-none {
  display: block !important;
}

.profile .profile-image .m-block {
  display: none;
}

.profile .join-today a {
  background-color: #ffa41b;
  padding: 8px 16px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.profile .col-md-4,
.col-md-8 {
  padding: 0;
}

.testimonial-slider .slick-list {
  margin: 0px -20px;
}

.testimonial-slider .slick-slide {
  padding: 0px 20px;
}

p.join-para {
  min-height: 110px;
}

.testimonial-slider button.prev-arrow {
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
}

.testimonial-slider button.next-arrow {
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
}